<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<div>
		<div>
			<h1>LogIn</h1>
		</div>
		<div>
			<section>
				<div th:if="${param.error}">Failed. Check username and password.</div>
				<form th:action="@{/login}" method="post">
					<label for="userid">ID<input type="text" id="userid" name="username"></label>
					<br>
					<label for="password">PW <input type="password" id="password" name="password"></label><br>
					<input type="submit" id="save" value="Login">
				</form>
			</section>
		</div>
	</div>
</body>

</html>