<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메뉴 관리 페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<h2>메뉴 관리 페이지</h2>
<table border="1">
    <thead>
    <tr>
        <td>메뉴명</td>
        <td>메뉴가격</td>
        <td>메뉴재고관리</td>
        <td>메뉴이미지</td>
        <td>카테고리</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="m : ${menus}">
            <td th:text="${m.mName}"></td>
            <td th:text="${#numbers.formatInteger(m.mPrice, 1, 'COMMA')}"></td>
            <td th:if="!${m.mInven}" th:text="있음"></td>
            <td th:unless="!${m.mInven}" th:text="없음"></td>
            <td >이미지</td>
            <td th:text="${m.cId.cName}"></td>
        </tr>
    </tbody>
</table>
<div>
<label for="mName">MenuName(메뉴명)</label>
<input id="mName" type="text"><br>

<label for="mPrice">MenuPrice(메뉴가격)</label>
<input id="mPrice" type="number"><br>
<label for="mInven">MenuInventory(메뉴재고관리)</label>
<select id="mInven">
    <option value="0">없음</option>
    <option value="1">있음</option>
</select>
<br>
<!--
<label for="mImg">MenuImg(메뉴이미지)</label>
<input id="mImg" type="text"><br> -->
<label for="cId">MenuCategory(메뉴재고관리)</label>
<select id="cId">
    <option value="1">커피</option>
    <option value="2">티</option>
    <option value="3">에이드</option>
</select>

<button id="save">저장</button>
</div>
<script>
            $(()=>{
                $('#save').on('click',()=>{
                    const mName = $('#mName').val();
                    const mPrice = $('#mPrice').val();
                    const mInven = Number($("#mInven option:selected").val());
                    // const mImg = $('#mImg').val();
                     const cId = Number($("#cId option:selected").val());
                     const url='/api/addmenu';
                     const data = {
                        'mName':mName,
                        'mPrice':mPrice,
                        'cId':{
                            'cId':cId
                        }
                    }
                    const json = JSON.stringify(data);

                $.ajax({
                    url:url,
                    type:'POST',
                    contentType: 'application/json',
                    data:json
                }).done((response)=>{
                    if(response.result=='ok'){
                        alert('메뉴가 등록되었습니다.');
                        window.location.href='/management'
                    } else {
                        alert('등록되지 않았습니다.');
                    }

                })
                .fail((response)=>{
    	            console.log(response);
                });

                });
            });

</script>
</body>
</html>