<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::title},~{},~{::#content})}">

<head th:replace="~{head::head(~{::title})}">
	<title th:text="statitics"></title>
	<style>
		.tab-table {
			padding: 5px;
			background-color: rgb(186, 215, 147);
			font-size: 18px;
			color: #ffffff;
			border-radius: 20px;
			text-align: center;
		}

		.tab-table td:hover {
			background-color: rgb(0, 128, 0);
			font-size: 23px;
			border-radius: 10px;
		}
	</style>
</head>

<body>
	<div id="content">
		<hr>
		<div class="tab-table">
			<table>
				<tr>
					<td onclick="location.href='/statistics/year'">연도별 매출</td>
					<td onclick="location.href='/statistics/month'">달별 매출</td>
					<td onclick="location.href='/statistics/day'">이달 매출</td>
					<td onclick="location.href='/statistics/today'">오늘 매출</td>
					<td onclick="location.href='/statistics/category'">카테고리별 매출</td>
					<td onclick="location.href='/statistics/menu'">메뉴별 매출</td>
				</tr>
			</table>
		</div>
		

		<!-- Styles -->
		<style>
			#chartdiv {
				width: 100%;
				height: 500px;
			}
		</style>

		<!-- Resources -->
		<script src="//cdn.amcharts.com/lib/5/index.js"></script>
		<script src="//cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="//cdn.amcharts.com/lib/5/themes/Animated.js"></script>

		<!-- Chart code -->
		<script th:inline="javascript">
			/*
						var totalPrice = [[${totalPrice}]];
						var menus = [[${menus}]];
						var amount = [[${amount}]];
			
						console.log(menus);
						console.log(amount);
						console.log(totalPrice);
			
						am5.ready(function () {
			
							// Create root element
							// https://www.amcharts.com/docs/v5/getting-started/#Root_element
							var root = am5.Root.new("chartdiv");
			
							// Set themes
							// https://www.amcharts.com/docs/v5/concepts/themes/
							root.setThemes([
								am5themes_Animated.new(root)
							]);
			
							// Create chart
							// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
							// start and end angle must be set both for chart and series
							var chart = root.container.children.push(am5percent.PieChart.new(root, {
								layout: root.verticalLayout,
								innerRadius: am5.percent(40)
							}));
			
							// Create series
							// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
							// start and end angle must be set both for chart and series
							var series0 = chart.series.push(am5percent.PieSeries.new(root, {
								valueField: "bottles",
								categoryField: "country",
								alignLabels: false
							}));
			
							var bgColor = root.interfaceColors.get("background");
			
							series0.ticks.template.setAll({forceHidden: true});
							series0.labels.template.setAll({forceHidden: true});
							series0.slices.template.setAll({
								stroke: bgColor,
								strokeWidth: 2,
								tooltipText:
									"{category}: {valuePercentTotal.formatNumber('0.00')}% ({value} bottles)"
							});
							series0.slices.template.states.create("hover", {scale: 0.95});
			
							var series1 = chart.series.push(am5percent.PieSeries.new(root, {
								valueField: "litres",
								categoryField: "country",
								alignLabels: true
							}));
			
							series1.slices.template.setAll({
								stroke: bgColor,
								strokeWidth: 2,
								tooltipText:
									"{category}: {valuePercentTotal.formatNumber('0.00')}% ({value} litres)"
							});
			
							// Data
							var data = [];
							for (var i = 0; i < menus.length; i++) {
								data[i] = {
									country: menus[i],
									litres: Number(amount[i]),
									bottles: Number(totalPrice[i])
								}
							}
			
			
							// Set data
							// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
							series0.data.setAll(data);
							series1.data.setAll(data);
			
							// Play initial series animation
							// https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
							series0.appear(1000, 100);
							series1.appear(1000, 100);
			
						}); // end am5.ready()
						*/
		</script>

		<!-- HTML -->
		<div id="chartdiv"></div>
	</div>
</body>

</html>