<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::title},~{},~{::#content})}">

<head th:replace="~{head::head(~{::title})}">
	<title th:text="statitics"></title>
	<style>
		.tab-table {
			padding: 5px;
			background-color: rgb(186, 215, 147);
			font-size: 18px;
			color: #ffffff;
			border-radius: 20px;
			text-align: center;
		}

		.tab-table td:hover {
			background-color: rgb(0, 128, 0);
			font-size: 23px;
			border-radius: 10px;
		}
	</style>
</head>

<body>
	<div id="content">
		<hr>
		<div class="tab-table">
			<table>
				<tr>
					<td onclick="location.href='/statistics/year'">연도별 매출</td>
					<td onclick="location.href='/statistics/month'">달별 매출</td>
					<td onclick="location.href='/statistics/day'">이달 매출</td>
					<td onclick="location.href='/statistics/today'">오늘 매출</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>